{% extends 'base.html' %}

{% block title %}listar objetos{% endblock %}

{% block content %}
{%load static%}
<style>
    .book-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #contrato {
        border: 1px solid #ddd;
        padding: 0.5rem;
        border-radius: 0.25rem;
        padding-right: 1rem;
    }

    #contrato1 {
        grid-column: span 3;
        padding: 0.5rem;
        border-radius: 0.25rem;
        padding-right: 1rem;
    }

    .book-item h1 {
        grid-column: span 3;
        /* Hacer que ocupe 3 columnas */
        text-align: center;
        color: rgb(116, 116, 116);
    }

    .book-item h4 {
        grid-column: span 3;
        /* Hacer que ocupe 3 columnas */
        text-align: center;
        color: rgb(116, 116, 116);
    }

    .book-item form {
        grid-column: span 3;
        /* Ubicar en la tercera columna */
        grid-row: 2;
        /* Ubicar en la primera fila */
        align-self: start;
        /* Asegurar que esté en la parte superior */
        justify-self: center;
        /* Centrar dentro de la columna */
    }
</style>



<div class="book-item">
    <h1 style="color: rgb(116, 116, 116); text-align: center;"><strong>Los objetos que has reportado como
            perdidos</strong></h1>
    <form class="d-flex mb-3" method="GET" action="{% url 'listar_objetos_propietario' %}">
        <input class="form-control me-2" type="search" name="q" placeholder="Buscar por nombre"
            value="{{ request.GET.q }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>


    {% for objeto in objetos %}
    <section id="contrato">
        <ul style="list-style-type: none;">
            <li>
                <h3>{{objeto.nombre }} </h3>
            </li>
            <li>
                <div id="carouselExampleIndicators" class="carousel slide w-28  mx-auto"
                    class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-indicators" style="background-color: rgb(0, 0, 0);opacity: 50%;">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        {% if objeto.imagen %}
                        <div class="carousel-item active ">
                            <img src="{{ objeto.imagen.url }}" alt="{{ objeto.nombre }}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        {%endif%}
                        {% if objeto.imagen2 %}
                        <div class="carousel-item">
                            <img src="{{ objeto.imagen2.url }}" alt="{{ objeto.nombre }}" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        {%endif%}
                        {% if objeto.imagen3 %}
                        <div class="carousel-item">
                            <img src="{{ objeto.imagen3.url }}" alt="{{ objeto.nombre }}" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        {%endif%}
                    </div>
                    <a class="carousel-control-prev" href="#carousel{{ forloop.counter }}" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel{{ forloop.counter }}" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </li>
            <li>
                <h3>descripcion</h3>
            </li>
            <li>
                <p> {{ objeto.descripcion }}</p>
            </li>


            <br>



            <br>
        </section>
            {%empty%}
            <section id="contrato1">
                <p><strong>No hay objetos</strong></p>
                <img src="{%static 'img/question.png'%}" alt="">
            </section>


   
    {% endfor %}

</div>
{%endblock %}