{% extends 'base.html' %}

{% block title %}Inicio - gestion freelancers{% endblock %}

{% block content %}
{%load static%}
<section id='contrato'>
    {% if solicitudes %}
    
        {% for solicitud in solicitudes %}
        <div>
            <h3 style="color: rgb(92, 171, 102); display: inline; margin-top: 1rem;">Tu solicitud ha sido aprobada para el objeto "{{ solicitud.objeto.nombre }}"</h3>
            <img style="width: 2rem; display: inline; padding-top: 0;" src="{%static 'img/check.png'%}" alt="">
            <img src="{{ solicitud.objeto.imagen.url }}" alt="{{ objeto.titulo }}">
            <br>
            <h4 style="text-align: start;"><strong>Puedes contactarte con "{{ solicitud.propietario.username }}" de la siguiente forma:</strong></h4>
            <p style="text-align: start;">{% if solicitud.mensaje_contacto %}
                {{ solicitud.mensaje_contacto }}
                {% else %}
                No se ha proporcionado información de contacto.
                {% endif %}</p>
        </div>
        
        {% endfor %}
    
    {% else %}
    <p>No tienes solicitudes aprobadas en este momento.</p>
    <img src="{%static 'img/question.png'%}" alt="">
    {% endif %}
</section>
{%endblock%}